# MongoDB Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/farmisto

# Server Port
PORT=4000

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Cloudinary Config
CLOUD_NAME=your_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

# Google API (for geocoding)
GOOGLE_API_KEY=your_google_api_key
